<form action='/submit' method='POST'>

    <div> 
        <label for="name" name "Recipe Name">
        <INPUT TYPE="name" name="Recipe Name" id="name"> 
    </div>

    <div>
        <label for="Prepation Time" name "Preparation Time">
        <INPUT TYPE="number" name="Preparation Time" id="prep_time">
    </div>

    <div>
        <label for="Description" name "Description">
        <textarea name="Description" id="description" rows="5" cols="5">
    </div>

    <div>
        <label for="url" name "URL of Picture">
        <INPUT TYPE="url" name="ULR of Picture" id="picture">
    </div>
</form>
