<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Cookbook &raquo; <%= @title %> </title>
  </head>

  <body>

    <header>
    <a class="Title" href="/">CookBook</a>
    <br/>
    <br/>
      <img class="RecipeImage" src="/cookbook.jpg"alt="Cookbook Icon">
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <a href="/about">About Us</a>
      |
      <a href="/contact">Contact Us</a>
      |
      <a href="/legal">Fine Print</a>
    </footer>

  </body>
</html>